body {
    min-height: 105vh;
}


#tags {
    color: rgb(33, 75, 107);
}


.qDiv {
    text-align: center;
    margin-bottom: 25px;
}


h5 {
    color: white;
}


.tagBtn, #results {
    margin: 2px;
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	/* background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
	background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%); */
    background: #000064;  /* old browsers fallback color*/
    background: -webkit-linear-gradient(to right, #1BADD8, #00003E);  
    background: linear-gradient(to right, #1BADD8, #00003E);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
	background-color:#bddbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}


.tagBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
	background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#80b5ea;
}


.tagBtn:active {
	position:relative;
	top:1px;
}


.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    background: #000064;  /* old browsers fallback color*/
    background: -webkit-linear-gradient(to right, #1BADD8, #00003E); 
    background: linear-gradient(to right, #1BADD8, #00003E);
  }


h1 {
    color:#fff;
}


/* img {
    width: 100%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 0 0 10px px;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    text-shadow:
         -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    
}

.block {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(31, 159, 210);
    margin-top: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
    text-shadow:
         -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.answers {
    font-size: 50px;
    text-shadow:
         -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.btn {
    background: rgba(125,185,232,0) 100%);
    outline: none;
}

#start {

    text-align: center;
    font-size: 50px;
    color: white;

}

#start:hover {
    color: rgb(82, 215, 255);
    cursor: pointer;
}

.quiz {
    background: rgb(65, 124, 227);
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 40px;
    color: white;
    text-shadow:
         -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    padding: 10px;
}

.intro {
    background: rgb(65, 124, 227);
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 40px;
    color: white;
    text-shadow:
         -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    padding: 10px;
    text-align: center;

} */










